# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Cache
*.tsbuildinfo

# Env
.env
.env.*
